.collection_item {
    height: 30rem;
    flex: 1 1 auto;
    position: relative;
    
    
    &:hover {
        cursor: pointer;
    }

    &:hover {
        .collection_image {
            opacity: 0.8;
            
        }

        .custombutton {
            display: flex;
            opacity: 0.8;
        }
    }

    .custombutton {
        width: 80%;
        opacity: 0.7;
        position:absolute;
        top: 70%;
        z-index: 3;
        left: 50%;
        transform: translateX(-50%);
        // display: none;

        &:hover {
            opacity: 1;
        }
    }
}

.collection_image {
    height: 90%;
    width: 100%;
    background-size: cover;
    background-position: center;
    // display: flex;
    // align-items: flex-end;
    // justify-content: center;
}

.collection_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}