@import '../../sass/variables';

.header {
    // margin: $margin-tiny $horizontal-margin;
    // display: flex;
    // align-items: flex-end;
    // justify-content: space-between;

    &__link {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        margin-right: $margin-tiny;

        &:last-child {
            margin-right: 0;
        }
    }

    &__left {
        flex: 1 1 auto;
    }

    &__right {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}