@import '../../sass/variables';

.header {
    margin: $margin-tiny $horizontal-margin;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &__link {
        color: inherit;
        text-decoration: none;
        margin-right: $margin-tiny;

        &:last-child {
            margin-right: 0;
        }
    }
}