@import '../../sass/variables';

.collection_preview {
    margin: 0 $horizontal-margin;

    @media screen and (max-width: 600px) {
        margin: 0 $horizontal-margin-mobile;
    }

}

.preview {
    display: grid;
    grid-template-columns: repeat(4,minmax(12rem, 1fr));
    grid-gap: 2rem;

}
@media (max-width: 1000px) {
 .preview {
    grid-template-columns: repeat(2,minmax(12rem, 1fr));
 }   
}

@media (max-width: 600px) {
    .preview {
       grid-template-columns: repeat(1,minmax(12rem, 1fr));
    }   
   }